<!DOCTYPE html>
<html>
<head>
	<title>Monitor</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<script type="text/javascript" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="title text-center container jumbotron">
			<h1>Monitor App</h1>
		</div>
		<div class="row">
			<div class="col text-center">
				<h3>Status of clients</h3>
			</div>
			<div class="col text-center">
				<h3>Choose a client</h3>
				{% block content %}
				<ul class="pagination align-top">
					{% if example %}
						{% for each in example %}
							<li class="page-item ">
								<button class="btn" onclick="send_id({{each.id}})">{{each.name}}</button>
								<p id="id_selected">{{each.id}}</p>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="col text-center">
				<h3>Detail of each</h3>
				<div id="details">
					
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
		function send_id(id){
			console.log('got it ' + id);
			var num 			= id
			var num_string 		= num.toString()
			var sentence 		= "{{ example."+ num_string
			var end_sentence 	= sentence+" }}"
			console.log(end_sentence)
			var a 	= document.getElementById('details').innerHTML = end_sentence;
		}
	</script>
</body>
</html>